.column-head {
  height: 5px;
  width: 300px;
}

.column-head-darken {
  height: 5px;
  width: 300px;
  background: #0000001a;
  border-radius: 4px 4px 0px 0px;
  position: absolute;
}

.column-head-color {
  position: absolute;
  height: 5px;
  width: 300px;
  background: #59b4d1;
  border-radius: 4px 4px 0px 0px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  padding: 10px;
  left: 0px;
  top: 5px;
  border-radius: 0px 0px 4px 4px;
  background-color: #59b4d1;
  gap: 10px;
}

.column .column-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -2%;
  color: white;
  text-align: left;
}
