* {
  margin: 0;
}

.App-main {
  display: flex;
  flex-direction: column;
  gap: 43px;
  padding: 41px 60px 0px 75px;
  background-color: #e1e8ed;
  background-image: "../src/images/Homebackground.png";
  background-position: center;
  background-size: 100vh;
}
